@import "tailwindcss";

@theme {
  --color-primary: #374151;
  --color-secondary: #6b7280;
  --gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --gradient-conic: conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops));
}
